<br>
<span>Trabajar con Categorias</span>
<div ng-controller="CategoriaCtrl">
    <a href="" ng-click="new($event)">Nueva Categoria</a>
    <br> categoriaId={{categoria.id}}
    <br>
    <input type="text" ng-model="categoria.nombre" placeholder="Nombre">
    <br>
    <input type="text" ng-model="categoria.codigo" placeholder="Código">
    <input type="button" ng-click="save()" value="Save">
    <table>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Código</th>
            <th colspan="2">Actions</th>
        </tr>
        <tr ng-repeat="d in lista">
            <td>{{ $index +1 }}</td>
            <td>{{ d.nombre }}</td>
            <td>{{ d.codigo }}</td>
            <td> <a href="" ng-click="sel(d)">Edit</a></td>
            <td> <a href="" ng-click="delete(d)">x</a></td>
        </tr>
    </table>
</div>
